.header {

    width: 100%;
    background-color: $black;

}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    margin: 0 40px;
}

.header__title {
    color: #ffffff;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;



    &:before {
        content: url(./../img/header/title.svg);
        left: -34px;
        top: 0;
        width: 27px;
        height: 20px;
        position: absolute;
    }

    & span {
        color: #6596ff;
    }
}

.header__getmore {
    background-image: linear-gradient(270deg, #ff7f7c 0%, #5aa4ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-weight: 500;
}

.header__nav {
    display: flex;

}

.header__nav-item {
    opacity: 0.4;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: opacity .2s linear;
    margin-left: 50px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-left: 25px;
    }

    &:hover {

        opacity: 1;
    }
}


@media (max-width: 1170px) {
    .header__nav {
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        // width: 100%;
        margin-top: 20px;
    }

    .header-inner {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .header {
        position: fixed;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;


        margin: 0;
    }

    .header__getmore {
        margin: 15px 0;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__nav-item {
        margin: 5px 0;
    }

    .header__nav-item:last-child {
        margin: 5px 0;
    }
}