.burger-shower {
    display: none;
}





@media (max-width: 600px) {
    .header__nav {
        display: none;
    }

    .burger-shower:checked~.header__nav {
        display: flex;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 30px;
        line-height: .1em;
        /*   border: .1em solid #ddd; */
        padding: 0 .4em .4em;
        cursor: pointer;

    }

    .burger-item {
        width: 30px;
        height: 3px;
        border: 0;
        background: #fff;
        /* border: none; */
    }
}