.result-area {}

.result-area__output-format {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.result-area__of-title {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    margin: 20px 0;
}

.result-area__of-params {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 35px;
}

.result-area__of-item {
    color: #4e82fe;
    font-size: 15px;
    font-weight: 500;

    padding: 6px 15px;

    &:hover {
        border-radius: 15px;
        background-color: #EDF2FF;


    }
}

.result-area__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    column-gap: 10px;

}

.result-area__item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.result-area__item-title {
    opacity: 0.4;
    color: #000000;
    font-size: 13px;
    font-weight: 500;


}

.result-area__item-select {



    &:first-child {
        margin-left: 0;
    }
}

.result-area__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.result-area__buttons-item {
    color: #ff7f7c;
    font-size: 15px;
    font-weight: 500;
    padding: 11px 30px;
    background-color: transparent;
    border-radius: 20px;

    &:hover {
        background-color: #4e82fe;
        color: #fff;
    }
}

@media (max-width: 1170px) {

    .result-area__items {

        grid-template-columns: repeat(4, auto);
        padding: 0 20px;
    }

}

@media (max-width: 650px) {
    .result-area__items {

        grid-template-columns: repeat(3, auto);
        padding: 0 10px;
    }
}

@media (max-width: 450px) {
    .result-area__items {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 320px) {
    .result-area__items {
        grid-template-columns: 1fr;
    }
}